:root {
  /* Base Colors */
  --white: #ffffff;
  --black: #000000;
  --skyBlue: #00a8ec;
  --gray: #efeceb;
  /* Footer Colors */
  --footer-text: #efeceb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.site-bg {
  background-color: #000000;
}

.site-wrapper {
  width: 1170px;
  margin: auto;
}

.section-padding-x {
  padding-left: 24px;
  padding-right: 24px;
}

.section-padding-y {
  padding-top: 24px;
  padding-bottom: 24px;
}

.top-utility-bar {
  background-color: #343130;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-utility-innerWrapper {
  font-size: 1.31vw;
  display: flex;
  align-items: center;
  gap: 14px;
}

nav.navbar-top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: var(--white);
  padding-top: 16px;
  padding-bottom: 16px;
}

nav.navbar-top ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

nav.navbar-top ul a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.31vw;
  font-weight: bold;
  transition: all ease 0.2s;
}

nav.navbar-top ul a:hover {
  color: var(--skyBlue);
}

nav.navbar-top ul li.active a {
  color: var(--skyBlue);
  font-weight: 600;
}

main {
  background-color: #f1f0ef;
}

.main-inner-wrapper {
  font-variant: var(--white);
  padding: 8px 8px 16px 8px;
  display: flex;
  gap: 24px;
  background-color: var(--white);
}

aside {
  width: 250px;
  /* padding: 10px 0; */
}

aside nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

aside nav ul li {
  background-color: var(--skyBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

aside nav ul a {
  text-decoration: none;
  color: var(--white);
}

.news {
  border: 1px solid var(--black);
  border-radius: 8px 8px 0 0;
  margin-top: 16px;
}

.news-header {
  background-color: #ef9c00;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.news ul {
  list-style: none;
  padding: 16px;
}
.news ul li {
  margin-bottom: 24px;
}

.news ul li img {
  border-radius: 100%;
  margin-right: 8px;
}

/* Css for content-  Start */
.content img {
  width: 100%;
}

.courses-head {
  color: var(--skyBlue);
  font-size: 2vw;
  background-color: #f1f0ef;
  width: fit-content;
  padding: 8px 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.courses-section ul.courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}

.courses-section ul.courses li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.22vw;
}

.courses-section ul.courses li img {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.c1 img,
.c8 img {
  background-color: #e6611c;
}

.c1,
.c8 {
  color: #e6611c;
}

.c2 img,
.c3 img {
  background-color: #5e5da4;
}

.c2,
.c3 {
  color: #5e5da4;
}

.c4 img {
  background-color: #d60726;
}

.c4 {
  color: #d60726;
}
.c5 img {
  background-color: #7bb1e0;
}

.c5 {
  color: #7bb1e0;
}

.c6 img {
  background-color: #308a7c;
}

.c6 {
  color: #308a7c;
}

.c7 img {
  background-color: #89c222;
}

.c7 {
  color: #89c222;
}

.work-head {
  margin: auto;
  width: fit-content;
  margin-top: 24px;
  margin-bottom: 16px;
  color: var(--skyBlue);
}

.work-list {
  text-transform: capitalize;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
}

.work-list li {
  width: 270px;
  height: 220px;
  background-repeat: no-repeat !important;
  background-position: bottom center !important;
}

.work-list .w1 {
  background: url("../images/how/HOW-WE-WORK1.png");
}

.work-list .work .work-inner-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  font-size: 1.65vw;
  text-align: center;
}

.work-list .w1 .work-inner-overlay {
  background-color: rgba(188, 72, 109, 0.8);
}

.work-list .w2 .work-inner-overlay {
  background-color: rgba(233, 79, 113, 0.8);
}

.work-list .w3 .work-inner-overlay {
  background-color: rgba(237, 136, 56, 0.8);
}

.work-list .w4 .work-inner-overlay {
  background-color: rgba(244, 183, 65, 0.8);
}

.work-list .w2 {
  background: url("../images/how/HOW-WE-WORK2.png");
}

.work-list .w3 {
  background: url("../images/how/HOW-WE-WORK3.png");
}

.work-list .w4 {
  background: url("../images/how/HOW-WE-WORK4.png");
}

footer {
  width: 100%;
  background-color: #343130;
  color: var(--gray);
}

.footer-top {
  padding: 24px 24px 0 24px;
}

.footer-col ul {
  padding-left: 8px;
}

footer ul li {
  list-style: none;
}

footer .footer-head {
  font-size: 1.58vw;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-navs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer-training .footer-navs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-socials ul {
  display: grid;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-bottom {
  width: 100%;
  background-color: #302d2c;
  margin-top: 24px;
  text-align: center;
  padding: 8px 0;
  font-size: 1.2vw;
}

.footer-col a {
  color: var(--gray);
  text-decoration: none;
}

/* Css for About Us Page -START */
.content {
  width: 850px;
}

.section-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4vw;
  margin-bottom: 34px;
}

.breadcrumb {
  font-weight: bold;
  font-size: 1.6vw;
}

.breadcrumb span a {
  color: var(--skyBlue);
  text-decoration: none;
}

.content p {
  font-size: 1.2vw;
  margin-bottom: 24px;
}

.content .why-iip h3 {
  margin-bottom: 24px;
}

.content .why-iip ol {
  padding-left: 20px;
}

/* Css for About Us Page -END */

/* Css for Courses Page -START */
.courses-content .courses-content-wrapper ul {
  grid-template-columns: repeat(3, 1fr);
}

.courses-content .courses-content-wrapper ul li {
  flex-direction: column;
  width: 220px;
  text-align: center;
  gap: unset;
  /* padding-bottom: 16px; */
  border-radius: 10px;
}

.courses-content .courses-content-wrapper ul li span {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45vw;
}

.courses-content .courses-section ul.courses li img {
  width: auto;
  height: auto;
  background-color: unset;
  border-radius: unset;
}

.courses-img {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-content .c1 .courses-img,
.courses-content .c8 .courses-img {
  background-color: #e6611c;
}

.courses-content .c1,
.courses-content .c8 {
  border: 1px solid #e6611c;
}

.courses-content .c1 .courses-img,
.courses-content .c8 .courses-img {
  background-color: #e6611c;
}

.courses-content .c2 .courses-img,
.courses-content .c3 .courses-img {
  background-color: #5e5da4;
}

.courses-content .c2,
.courses-content .c3 {
  border: 1px solid #5e5da4;
}

.courses-content .c2 .courses-img,
.courses-content .c3 .courses-img {
  background-color: #5e5da4;
}

.courses-content .c4 .courses-img {
  background-color: #d60726;
}

.courses-content .c4 {
  border: 1px solid #d60726;
}

.courses-content .c4 .courses-img {
  background-color: #d60726;
}

.courses-content .c5 .courses-img {
  background-color: #7bb1e0;
}

.courses-content .c5 {
  border: 1px solid #7bb1e0;
}

.courses-content .c5 .courses-img {
  background-color: #7bb1e0;
}

.courses-content .c6 .courses-img {
  background-color: #308a7c;
}

.courses-content .c6 {
  border: 1px solid #308a7c;
}

.courses-content .c6 .courses-img {
  background-color: #308a7c;
}

.courses-content .c7 .courses-img {
  background-color: #89c222;
}

.courses-content .c7 {
  border: 1px solid #89c222;
}

.courses-content .c9 {
  color: darkgreen;
  border: 1px solid darkgreen;
}

.courses-content .c9 .courses-img {
  background-color: darkgreen;
}

.courses-content .courses-img {
  border-radius: 10px 10px 0 0;
}

.courses-content .course-img-circle {
  width: 125px;
  height: 125px;
  border: 10px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Css for Courses Page -END */

/* Css for Gallery Page -Start */
.gallery-content-wrapper ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 0;
}
.gallery-content-wrapper ul li {
  width: 220px;
}

.gallery-content-wrapper ul li .gallery-image {
  height: 165px;
}

.gallery-content-wrapper ul li .gallery-image img {
  border-radius: 5px 5px 0 0;
  height: 100%;
}

.gallery-title {
  background-color: #343130;
  border-radius: 0 0 5px 5px;
  font-weight: normal;
  color: var(--white);
  font-size: 1.2vw;
  padding: 11px 0;
  text-align: center;
  margin-top: 4px;
}
/* Css for Gallery Page -End */

/* Css for Enquiry Page -Start */
.list-unstyled {
  list-style: none;
}

.enquiry-section label {
  cursor: pointer;
}

.enquiry-section li {
  display: flex;
  align-items: start;
  margin-bottom: 24px;
}

.enquiry-section li .form-left {
  width: 15%;
}

.enquiry-section li .form-right option {
  text-transform: capitalize;
}

.enquiry-section li .form-right input[type="text"],
.enquiry-section li .form-right input[type="email"],
.enquiry-section li .form-right textarea {
  padding: 8px;
  width: 200px;
}

.enquiry-section .label {
  font-weight: bold;
  text-transform: capitalize;
}

.enquiry-section form .submit-btn {
  color: var(--white);
  background-color: #09f;
  border: 2px solid #09f;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.enquiry-section form .submit-btn:hover {
  background-color: transparent;
  color: #09f;
}

/* Css for Enquiry Page -End */

/* Css for Contact Page -Start */

.contact-main {
  color: #343130;
}

.contact-phone-image {
  width: 50px !important;
  height: 85px;
}

.contact-location-image {
  width: 70px !important;
  height: 85px;
}

.fw-bold {
  font-weight: bold;
}

.contact-main a {
  text-decoration: none;
  color: var(--skyBlue);
}

.contact-top {
  display: flex;
  justify-content: space-around;
  margin: 54px 0;
}

.contact-left,
.contact-right {
  text-align: center;
}

.contact-left img,
.contact-right img {
  margin-bottom: 16px;
}

.contact-left-wrapper {
  margin-bottom: 8px;
}

.contact-map{
  width: 800px;
  margin-top: 24px;
}
/* Css for Contact Page -End */
